<h1>出勤中社員一覧</h1>

<table class="table table-condensed table-hover table-bordered text-center" id="table-users">
  <thead>
    <tr>
      <td>コード</td>
      <td>名前</td>
    </tr>
  </thead>
  <tbody>
    <% @present_employees.each do |employee| %>
      <tr>       
      <td><%= employee.employee_number %></td>
      <td><%= employee.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
